<html lang="en">
<head>
  <title>{% if headerTitle %} {{ headerTitle }} |{% endif %}{{ global.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | url }}">
  <link rel="stylesheet" href="{{ '/assets/css/accordion.css' | url }}">
  <link rel="stylesheet" href="{{ '/assets/css/globals.css' | url }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
<main>
<aside id="sidebar" class="h-full flex flex-col fixed top-0 left-0 w-[260px] bg-blue-400 p-5 hidden md:block">
  <div id="sidebar_title">
    <h1>Contents</h1>
  </div>

  <section id="sidebar_accordion" class="flex flex-col gap-2">
    <section class="accordion_section" id="sidebar_links">
      <h2 class="accordion_title">Links</h2>
      <div class="accordion_list">
      <hr/>
      {% for page, link in global.pages %}
        <div class="accordion_link">
          <a href="{{ link | url }}">{{ page }}</a>
        </div>
      {% endfor %}
      </div>
    </section>

    <section class="accordion_section" id="sidebar_projects">
      <h2 class="accordion_title">Projects</h2>
      <div class="accordion_list">
        <hr/>
        {% for post in collections.projects %}
          <div class="accordion_link">
            <a href={{ post.url }}>{{ post.data.title }}</a>
          </div>
        {% endfor %}
      </div>
    </section>

    <section class="accordion_section" id="sidebar_releases">
      <h2 class="accordion_title">Releases</h2>
      <div class="accordion_list">
        <hr/>
        {% for post in collections.releases %}
          <div class="accordion_link">
            <a href={{ post.url }}>{{ post.data.title }}</a>
          </div>
        {% endfor %}
      </div>
    </section>

    <section class="accordion_section" id="sidebar_Bits">
      <h2 class="accordion_title">Articles</h2>
      <div class="accordion_list">
        <hr/>
        {% for post in collections.articles %}
          <div class="accordion_link">
            <a href={{ post.url }}>{{ post.data.title }}</a>
          </div>
        {% endfor %}
      </div>
    </section>

  </section>
</aside>

<section id="content_container" class="pl-0 md:pl-[260px] h-screen flex flex-col">
  <header class="p-5 h-24 flex flex-row justify-between">
    <div id="sidebar_toggle" class="flex flex-row gap-2">
      <button class="bg-blue-500 w-[140px] text-sm hover:bg-blue-700 text-white hover:font-bold py-2 px-4 rounded md:hidden" id="sidebar_toggle_button">Toggle Sidebar</button>
    </div>
  </header>

  <section id="main_container" class="flex-grow p-5">
    {{ content | safe }}
  </section>

  <footer class="p-5 h-16 flex flex-row justify-between">
    <section id="footer_links">
      <a href="https://www.linkedin.com/in/camcleod99/" aria-label="link to LinkedIn Account (camcleod99)">LinkedIn</a>
      <a href="https://github.com/camcleod99" aria-label="link to GitHub Account (Camcleod99)">Github</a>
      <a href="https://github.com/camcleod99/11tyPortfolioSite" aria-label="link to GitHub project page (camcleod99/11tyPortfolioSite)">Github Project</a>
    </section>
    <section id="footer_copyright">
      <p>Content by Craig Alexander McLeod (C) 2024</p>
    </section>
  </footer>
</section>
</main>

<script src={{ '/assets/scripts/accordion.js' | url }}></script>
<script src={{ '/assets/scripts/button.js' | url }}></script>

</body>
</html>