---
layout: base.njk
---
<main class="bg-gray-150">
  <section id="post_title">
    <h1>{{ title }}</h1>
    {% if subtitle %}
      <h2>{{ subtitle }}</h2>
    {% endif %}
  </section>
  <hr class="py-5 w-1/2 mx-auto my-5" />
  <section id="post_status">
    <p class="text-xl"><span class="font-bold">Started: </span>{{ date | postDate }}</p>
    {% if updateDate %}
      <p class="text-xl"><span class="font-bold">Updated: </span>{{ update | postDate }}</p>
    {% endif %}
    {% if version %}
      <p class="text-xl"><span class="font-bold">Version: </span>{{ version }}</p>
    {% endif %}
    <hr />
  </section>
  <hr class="py-5 w-1/2 mx-auto my-5" />
  <section id="post_content">
    {% if config === "yes" %}
      <h2> Attention! </h2>
      <p>This script uses the .config file to determine environment variables.
        Please <a href="#">download the .config file</a> and place it in the folder
        you place your scripts.</p>
    {% endif %}
    {{ content | safe }}
  </section>
</main>