---
layout: base.njk
---
<section id="articles_head">
  <h1> Articles </h1>
  <p>
    Sometimes (though not as frequently as I probably should) I get a hair somewhere
    about a topic and go off on one for a few paragraphs. These are a collection
    of those times.
  </p>
  <h2> Disclaimer </h2>
  <p>
    Unless explicitly noted, the thoughts and opinions expressed in these articles
    are those of Craig A. McLeod and are not those of any entity mentioned that
    hired or otherwise associated with him.
  </p>
</section>
<hr class="py-5 w-1/4 mx-auto my-5"/>
<section id="articles_toc">
  <h2>Contents</h2>
  <h3>2024</h3>
  <ul class="list-none">
    <li>
      <span class="date">13 / 12</span> :
      <a href="#">
        "Here's what I think about your Immortality!" - A treaties on the worthless
        pursuit of becoming socially immortal
      </a>
    </li>
    <li>
      <span class="date">13 / 12</span> :
      <a href="#">
        Accurate to a fault and twice as boring - The case for localization over
        transliteration.
      </a>
    </li>
    {% for article in collections.articles %}
      <li class="odd:bg-gray-100 even:bg-gray-200 p-2">
        <span class="date">{{ article.data.date | postArticleDate }}</span> :
        <a href="{{ article.url }}">
          <span class="italic">{{ article.data.title }}</span>
          {% if article.data.subtitle %} - {{ article.data.subtitle }} {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
</section>