---
layout: base.njk
---
<section id="index_head">
  <h1> Welcome to my Portfolio </h1>
</section>
<section id="index_toc">
  <h2>Contents</h2>
  <ul class="flex flex-col md:flex-row md:flex-wrap md:grid md:grid-cols-2 gap-2">
    {% for page in global.pages %}
      {% if page.page !== "Home" %}
        {% card page.page, page.link, page.description %}
      {% endif %}
    {% endfor %}
  </ul>
</section>
<section id="index_site">
  <h2>About This Website</h2>
  <p>This website was developed using <a href="https://www.jetbrains.com/webstorm/">WebStorm</a>
    and is built on <a href="https://www.11ty.dev/">11ty</a> for HTML Generation
    and <a href="https://tailwindcss.com/">Tailwind CSS for its Styling</a></p>
</section>
